[Unit]
Description=Perch - scheduled wallpaper updates

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=false
AccuracySec=1min
Unit=wallhaven-anime.service

[Install]
WantedBy=timers.target
